{{> head }}
{{> navbar }}

<div class="row">

    <div>
        <h1>MENSAJE DEL DIA</h1>
    </div>

    <div>
        <img src="asset/img/Pensamientodeldia.jpg" class="img-thumbnail"
    </div>

</div>

{{> footer }}